<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lab 10</title>
    <link rel="stylesheet" type="text/css" href="/css/lab10.css"/>
</head>
<body>
    <article class="container">
        <div class="catego" id="cats">
<!--            <% cast.map(function (e) { %>-->
<!--                <a href= "#">  TEN DANH MUC   </a>-->
<!--             -->
<!--            <% }) %>-->
            <a href="/chi-tiet/<%= e.id %>">
        </div>
    </article>


</body>
</html>